/** Section styling */

.section {
  stroke: none;
  opacity: 0.2;
}

.section0 {
  fill: @sectionBkgColor;
}

.section2 {
  fill: @sectionBkgColor2;
}

.section1,
.section3 {
  fill: @altSectionBkgColor;
  opacity: 0.2;
}

.sectionTitle0 {
  fill: @titleColor;
}

.sectionTitle1 {
  fill: @titleColor;
}

.sectionTitle2 {
  fill: @titleColor;
}

.sectionTitle3 {
  fill: @titleColor;
}

.sectionTitle {
  text-anchor: start;
  font-size: 11px;
  text-height: 14px;
}


/* Grid and axis */

.grid .tick {
  stroke: @sectionBkgColor;
  opacity: 0.3;
  shape-rendering: crispEdges;
}

.grid .tick text {
  fill: @taskTextLightColor;
  opacity: 0.5;
}

.grid path {
  stroke-width: 0;
}


/* Today line */

.today {
  fill: none;
  stroke: @todayLineColor;
  stroke-width: 2px;
}


/* Task styling */


/* Default task */

.task {
  stroke-width: 1;
}

.taskText {
  text-anchor: middle;
  font-size: 11px;
}

.taskTextOutsideRight {
  fill: @taskTextDarkColor;
  text-anchor: start;
  font-size: 11px;
}

.taskTextOutsideLeft {
  fill: @taskTextDarkColor;
  text-anchor: end;
  font-size: 11px;
}


/* Specific task settings for the sections*/

.taskText0,
.taskText1,
.taskText2,
.taskText3 {
  fill: @taskTextColor;
}

.task0,
.task1,
.task2,
.task3 {
  fill: @taskBkgColor;
  stroke: @taskBorderColor;
}

.taskTextOutside0,
.taskTextOutside2,
{
  fill: @taskTextOutsideColor;
}

.taskTextOutside1,
.taskTextOutside3 {
  fill: @taskTextOutsideColor;
}


/* Active task */

.active0,
.active1,
.active2,
.active3 {
  fill: @activeTaskBkgColor;
  stroke: @activeTaskBorderColor;
}

.activeText0,
.activeText1,
.activeText2,
.activeText3 {
  fill: @taskTextDarkColor !important;
}


/* Completed task */

.done0,
.done1,
.done2,
.done3 {
  fill: @doneTaskBkgColor;
}

.doneText0,
.doneText1,
.doneText2,
.doneText3 {
  fill: @taskTextDarkColor !important;
}


/* Tasks on the critical line */

.crit0,
.crit1,
.crit2,
.crit3 {
  stroke: @critBorderColor;
  fill: @critBkgColor;
  stroke-width: 2;
}

.activeCrit0,
.activeCrit1,
.activeCrit2,
.activeCrit3 {
  stroke: @critBorderColor;
  fill: @activeTaskBkgColor;
  stroke-width: 2;
}

.doneCrit0,
.doneCrit1,
.doneCrit2,
.doneCrit3 {
  stroke: @critBorderColor;
  fill: @doneTaskBkgColor;
  stroke-width: 1;
  cursor: pointer;
  shape-rendering: crispEdges;
}

.doneCritText0,
.doneCritText1,
.doneCritText2,
.doneCritText3 {
  fill: @taskTextLightColor !important;
}

.activeCritText0,
.activeCritText1,
.activeCritText2,
.activeCritText3 {
  fill: @taskTextDarkColor !important;
}

.titleText {
  text-anchor: middle;
  font-size: 18px;
  fill: @taskTextLightColor;
}
