g.classGroup text {
  fill:@nodeBorder;
  stroke:none;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}

g.classGroup rect {
  fill:@nodeBkg;
  stroke: @nodeBorder;
}

g.classGroup line {
  stroke: @nodeBorder;
  stroke-width:1;
}

.relation {
  stroke: @nodeBorder;
  stroke-width: 1;
  fill:none;
}