.DS_Store

node_modules/
coverage/
.idea/

dist

yarn-error.log
.npmrc
token

package-lock.json

.vscode/
cypress/platform/current.html
cypress/platform/experimental.html
local/

_site
Gemfile.lock
/.vs

cypress/screenshots/
cypress/snapshots/

# eslint --cache file
.eslintcache
.tsbuildinfo
tsconfig.tsbuildinfo
