services:
  mermaid:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      PORT: ${PORT}  
    stdin_open: true
    tty: true
    working_dir: /mermaid
    mem_limit: '8G'
    volumes:
      - ./:/mermaid
      - root_cache:/root/.cache
      - root_local:/root/.local
      - root_npm:/root/.npm
      - /tmp:/tmp
    ports:
      - ${PORT}:${PORT}
      - 3333:3333
  cypress:
    image: cypress/included:14.0.3
    stdin_open: true
    tty: true
    working_dir: /mermaid
    mem_limit: '2G'
    entrypoint: cypress
    environment:
      - DISPLAY
    volumes:
      - ./:/mermaid
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: host

volumes:
  root_cache:
  root_local:
  root_npm:
