.mermaid .label { color:#333}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  fill: @mainBkg;
  stroke: @nodeBorder;
  stroke-width: 1px;
}

.arrowheadPath {
  fill: @arrowheadColor;
}

.edgePath .path {
  stroke: @lineColor;
}

.edgeLabel {
  background-color: @edgeLabelBackground;
}

.cluster rect{
  fill: @secondBkg !important;
  rx:4 !important;
  stroke: @clusterBorder !important;
  stroke-width: 1px !important;
}

.cluster text {
  fill:@titleColor;
}
