.mermaid .label {
  color: #333
}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  fill: @mainBkg;
  stroke: @border1;
  stroke-width: 1px;
}

.node.clickable {
  cursor: pointer;
}

.arrowheadPath {
  fill: @arrowheadColor;
}

.edgePath .path {
  stroke: @lineColor;
}

.edgeLabel {
  background-color: @edgeLabelBackground;
}

.cluster rect {
  fill: @secondBkg !important;
  rx: 4 !important;
  stroke: @clusterBorder !important;
  stroke-width: 1px !important;
}

.cluster text {
  fill: @titleColor;
}
