.actor {
  stroke: $actorBorder;
  fill: $actorBkg;
}

text.actor > tspan {
  fill: $actorTextColor;
  stroke: none;
}

.actor-line {
  stroke: $actorLineColor;
}

.messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: none;
  stroke: $signalColor;
}

.messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: 2, 2;
  stroke: $signalColor;
}

#arrowhead path {
  fill: $signalColor;
  stroke: $signalColor;
}

.sequenceNumber {
  fill: $sequenceNumberColor;
}

#sequencenumber {
  fill: $signalColor;
}

#crosshead path {
  fill: $signalColor;
  stroke: $signalColor;
}

.messageText {
  fill: $signalTextColor;
  stroke: $signalTextColor;
}

.labelBox {
  stroke: $labelBoxBorderColor;
  fill: $labelBoxBkgColor;
}

.labelText, .labelText > tspan {
  fill: $labelTextColor;
  stroke: none;
}

.loopText, .loopText > tspan {
  fill: $loopTextColor;
  stroke: none;
}

.loopLine {
  stroke-width: 2px;
  stroke-dasharray: 2, 2;
  stroke: $labelBoxBorderColor;
  fill: $labelBoxBorderColor;
}

.note {
  //stroke: #decc93;
  stroke: $noteBorderColor;
  fill: $noteBkgColor;
}

.noteText, .noteText > tspan {
  fill: $noteTextColor;
  stroke: none;
}

.activation0 {
  fill: $activationBkgColor;
  stroke: $activationBorderColor;
}

.activation1 {
  fill: $activationBkgColor;
  stroke: $activationBorderColor;
}

.activation2 {
  fill: $activationBkgColor;
  stroke: $activationBorderColor;
}
