g.stateGroup text {
  fill: $nodeBorder;
  stroke: none;
  font-size: 10px;
  font-family: 'trebuchet ms', verdana, arial;
  font-family: var(--mermaid-font-family);
}
g.stateGroup text {
  fill: $nodeBorder;
  stroke: none;
  font-size: 10px;

}
g.stateGroup .state-title {
  font-weight: bolder;
  fill: $labelColor;
}

g.stateGroup rect {
  fill: $nodeBkg;
  stroke: $nodeBorder;
}

g.stateGroup line {
  stroke: $nodeBorder;
  stroke-width: 1;
}

.transition {
  stroke: $nodeBorder;
  stroke-width: 1;
  fill: none;
}

.stateGroup .composit {
  fill: white;
  border-bottom: 1px
}

.stateGroup .alt-composit {
  fill: #e0e0e0;
  border-bottom: 1px
}

.state-note {
  stroke: $noteBorderColor;
  fill: $noteBkgColor;

  text {
    fill: black;
    stroke: none;
    font-size: 10px;
  }
}

.stateLabel .box {
  stroke: none;
  stroke-width: 0;
  fill: $nodeBkg;
  opacity: 0.5;
}

.stateLabel text {
  fill: $labelColor;
  font-size: 10px;
  font-weight: bold;
  font-family: 'trebuchet ms', verdana, arial;
  font-family: var(--mermaid-font-family);
}

.node circle.state-start {
  fill: black;
  stroke: black;
}
.node circle.state-end {
  fill: black;
  stroke: white;
  stroke-width: 1.5
}
#statediagram-barbEnd {
  fill: $nodeBorder
}

.statediagram-cluster rect {
  fill: $nodeBkg;
  stroke: $nodeBorder;
  stroke-width: 1px;
}
.statediagram-cluster rect.outer {
  rx: 5px;
  ry: 5px;
}
.statediagram-state .divider {
  stroke: $nodeBorder;
}

.statediagram-state .title-state {
  rx: 5px;
  ry: 5px;
}
.statediagram-cluster.statediagram-cluster .inner {
  fill: white;
}
.statediagram-cluster.statediagram-cluster-alt .inner {
  fill: #e0e0e0;
}

.statediagram-cluster .inner {
  rx:0;
  ry:0;
}

.statediagram-state rect.basic {
  rx: 5px;
  ry: 5px;
}
.statediagram-state rect.divider {
  stroke-dasharray: 10,10;
  fill: #efefef;
}

.note-edge {
  stroke-dasharray: 5;
}

.statediagram-note rect {
  fill: $noteBkgColor;
  stroke: $noteBorderColor;
  stroke-width: 1px;
  rx: 0;
  ry: 0;
}
