name: Draft Release

on:
  push:
    branches:
      - develop

permissions:
  contents: read

jobs:
  draft-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # write permission is required to create a github release
      pull-requests: read # required to read PR titles/labels
    steps:
      - name: Draft Release
        uses: release-drafter/release-drafter@v5
        with:
          disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
